body{
    background-color: #0D0D0D;
    /* color: #f9f6f6 ; */
    overflow: hidden;
}

.nav-tab{
    background-color: #0D0D0D;
    /* width: 200px; */
    z-index: 80;
}

.logo{
    width: 50px;
}

i{
    cursor: pointer;
}

.meal-layer{
    width: 100%;
    height: 100%;
    background-color: #f9f6f6ca;
    top: 100%;
    transition: .5s;
}

.meal:hover .meal-layer{
    top: 0;
}

.side-nav-menu{
    /* width: 90px; */
    z-index: 1;
}

.cursor-pointer{
    cursor: pointer;
}

/* .alert{
    width: fit-content;
} */

/* .loading-screen{
    z-index: 999;
    display: flex;
} */


.lenkss{

width: 70px;
background-color: white;
display: flex;
flex-direction: column;
justify-content:space-between; 
/* align-content: center; */
/* margin: auto; */
/* padding: auto; */
align-content: space-between;

}
.icons{

      color: #f9f6f6 ;

}
p{
    color: white;
}